h1 {
    text-align: center;
    padding-top: 2em ;
}
main{
    height: 80%;
}.inputs{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
}

span {
    margin: 1em;
}